[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "<0.69.0,>=0.68.0"
typing = "*"
pydantic = "*"
boto3 = "*"
requests = "*"
gunicorn = "*"
uvicorn = "<0.16.0,>=0.15.0"
uuid = "*"

[dev-packages]

[requires]
python_version = "3.9"
